h1{
	background-color:rgba(91, 101, 114);
	display:grid;height: 150px;
	padding-top: 25px;
	    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

body{
	background-color:rgb(255, 255, 255);
	border: solid;
	align-items: right;
	font-size: 30;
	    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

h2{
	background-color: rgba(148, 144, 141);
	height: 150;
}

*{
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}

footer{
	    text-shadow:none
}
